<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Async/Await</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <script>
        $.ajax({
            url: 'https://randomuser.me/api/?results=200',
            type: 'GET',
            dataType: 'json'
        })
        .done(function(data) {
            const users = data.results.map((user) => `<p>${user.name.first}, ${user.name.last}, ${user.email}, ${user.gender}, ${user.phone}, ${user.picture.large}</p>`)
            $('body').append(users.join(''))
        })
        .fail(function(error) {
            console.error(error);
        });

    </script>
</body>
</html>